/* Updated App.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background-image: url('images/ne.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%; /* Adjust background position to start from 1/4 of the page */

}

.App {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust alpha value to make it more opaque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar {
  background-color: #f8f8f8;
  padding: 7px 0;
  display: flex;
  justify-content: space-around;
}

.toolbardiv {
  padding-right: 0;
  padding-left: 150px;
  display: flex;
  justify-content: space-around;
}

.toolbar button {
  background-color: transparent; /* Remove black highlight */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold
}

.toolbar button:hover {
  background-color: #555;
}

header {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-weight: bold; /* Add this line to make the text bold */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

th, td {
  text-align: center;
  padding: 10px; /* Adjusted padding */
  border-bottom: 1px solid #ddd;
  color:black;
}


th {
  background: linear-gradient(to right, #a25cdf, #f0f0f0);
}



tr:hover {
  background-color: #84c38b;
}

.status-not-expired {
  color: green;
}

.status-expired {
  color: red;
}

.actions {
  text-align: center;
  margin-top: 20px; /* Add margin to push the buttons down */

}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px; /* Increased padding for top and sides */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;


  z-index: 1001;
}

.popup h2 {
  margin-top: 0;
}

.popup .form-group {
  margin-bottom: 20px; /* Increased space between form groups */
}

.popup .form-group label {
  display: block;
  margin-bottom: 5px;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="file"] {
  width: 100%;
  padding: 10px; /* Increased padding for input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup input[type="submit"],
.popup button {
  padding: 12px 24px; /* Increased padding for buttons */
  margin-right: 10px; /* Added space between Save and Cancel buttons */
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup input[type="submit"]:hover,
.popup button:hover {
  background-color: #45a049;
}

.popup button:last-of-type {
  margin-right: 0;
}


.popup label {
  display: block;
  margin-bottom: 10px; /* Add spacing between lines */
  font-weight: bold;
}

.popup input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Add spacing between input boxes */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup .scan-options {
  margin-top: 20px; /* Add spacing between scan options and buttons */
}

.popup button {
  margin-top: 10px; /* Add spacing between buttons */
}

/* Button styling */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-button,
.scan-buttons button {
  margin: 8px;
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Add this line to make the text bolder */
}

.add-button:hover,
.scan-buttons button:hover {
  background-color: #0056b3;
}








/* Add this CSS to style the date picker calendar */

/* Styling the date picker input field */
.react-datepicker-wrapper {
  width: 100%;
}

/* Styling the date picker calendar */
.react-datepicker {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 400px; /* Increase the min-height to extend the white background */
  font-size: 1em;
}

/* Styling the header of the date picker calendar */
.react-datepicker__header {
  background-color: #f0f0f0;
  border-bottom: none;
}

/* Styling the navigation buttons (previous and next month) */
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border: none;
  top: 20px;
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.react-datepicker__navigation--previous {
  left: 20px;
}

.react-datepicker__navigation--next {
  right: 20px;
}

/* Styling the month and year selector */
.react-datepicker__current-month {
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
}

/* Styling the weekdays */
.react-datepicker__day-name {
  color: #666;
  padding: 5px;
  width: 2.5em;
  line-height: 2.5em;
}

/* Styling the days */
.react-datepicker__day {
  color: #333;
  width: 2.5em;
  line-height: 2.5em;
  margin: 0.166em;
}

/* Styling the selected day */
.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

/* Styling the hovered day */
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--selected:hover {
  background-color: #0056b3;
}

/* Styling the disabled days */
.react-datepicker__day--disabled {
  color: #ccc;
}

/* Styling the today's date */
.react-datepicker__day--today {
  font-weight: bold;
}





.modal-overlay {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 999; /* Below the modal, above the content */
}

