/* Updated App.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background-image: url('../public/logo192.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%; /* Adjust background position to start from 1/4 of the page */
}

.App {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust alpha value to make it more opaque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar {
  background-color: #2E8B57;
  padding: 7px 0;
  display: flex;
  justify-content: space-around;
}

.toolbar button {
  background-color: transparent; /* Remove black highlight */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #555;
}

header {
  font-size: 24px;
  color: #333;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-top: 40px;
  font-weight: bold; /* Add this line to make the text bold */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: #f0f0f0;
}

.status-not-expired {
  color: green;
}

.status-expired {
  color: red;
}

.actions {
  text-align: center;
  margin-top: 20px; /* Add margin to push the buttons down */
}

.popup {
  position: fixed; /* Change to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9); /* Change to rgba for transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup label {
  display: block;
  margin-bottom: 10px; /* Add spacing between lines */
  font-weight: bold;
}

.popup input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Add spacing between input boxes */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup .scan-options {
  margin-top: 20px; /* Add spacing between scan options and buttons */
}

.popup button {
  margin-top: 10px; /* Add spacing between buttons */
}

/* Button styling */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-button,
.scan-buttons button {
  margin: 8px;
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Add this line to make the text bolder */
}

.add-button:hover,
.scan-buttons button:hover {
  background-color: #0056b3;
}
